<div class="videos-wrapper">
	<div class="local-video">
		<app-video [is-local]="true"></app-video>
	</div>
	<div class="remote-videos row p-2">
		<app-video class="col" [is-local]="false"></app-video>
	</div>
</div>
<div [title]="initButtonTitle">
	<input [(ngModel)]="senderId" (ngModelChange)="updateSenderId($event)" class="input form-control" />
	<button class="btn btn-primary" [disabled]="!localAudioStream || !localVideoStream || !senderId" (click)="initCall()">
		Init Call
	</button>
</div>
