<div class="videos-wrapper">
	<div class="local-video">
		<app-video
			(send-local-audio-stream)="handleLocalAudioStream($event)"
			(send-local-video-stream)="handleLocalVideoStream($event)"
			[is-local]="true"></app-video>
	</div>
	<div class="remote-videos row p-2">
		<app-video class="col" [is-local]="false"></app-video>
	</div>
</div>
<div [title]="initButtonTitle">
	<button class="btn btn-primary" [disabled]="!localAudioStream || !localVideoStream" (click)="initCall()">
		Init Call
	</button>
</div>
