.video-el.local {
	background-color: black;
	width: 20em;
	height: 15em;
	border-radius: 0.6em;
}
.video-el.remote {
	background-color: black;
	min-width: 25em;
	max-width: 100%;
	border-radius: 0.6em;
	width: 100%;
}
.video-wrapper {
	position: relative;
}
.controls {
	position: absolute;
	bottom: 1em;
	left: 50%;
	transform: translateX(-50%);
}
.audio-el {
	display: none;
}
