.controls-wrapper {
	display: flex;
	gap: 2em;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	width: 100%;
}

.control {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	width: 2em;
	height: 2em;
	border-radius: 50%;
	box-sizing: content-box;
	box-shadow: inset 0px -18px 20px 0px #150d00a8;
}
.disable {
	border: solid 2px rgba(216, 66, 66, 0.648);
	// background-color: rgba(216, 66, 66, 0.648);
	color: rgba(216, 66, 66, 0.648);
}
.enable {
	border: solid 2px green;
	// background-color: rgba(255, 255, 255, 0.208);
	color: green;
}
.endcall {
	background-color: red;
	color: white;
}
